main {
  padding-top: 80px;
  height: 100%;
  max-width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  z-index: 1;
  border-bottom: 5px solid lightgrey;
}
